<template>
  <div id="app">

    <nav>
      <div class="nav-wrapper blue darken-1">
        <a href="#" class="brand-logo center">Products registration</a>
      </div>
    </nav>

    <div class="container">
      <form @submit.prevent="onSaveClick">
          <label>Description</label>
          <input type="text" placeholder="Description" v-model="product.description">
          <label>Stock</label>
          <input type="number" placeholder="Stock" v-model="product.stock">
          <label>Price</label>
          <input type="text" placeholder="Price" v-model="product.price">
          <label>Image url</label>
          <input type="text" placeholder="ImageUrl" v-model="product.imageUrl">

          <button class="waves-effect waves-light btn-small">Save<i class="material-icons left">save</i></button>

      </form>

      <table>

        <thead>

          <tr>
            <th>DESCRIPTION</th>
            <th>STOCK</th>
            <th>PRICE</th>
            <th>IMAGE URL</th>
            <th>OPTIONS</th>
          </tr>

        </thead>

        <tbody>

          <tr v-for="product of products" :key="product.id">
            <td>{{product.description}}</td>
            <td>{{product.stock}}</td>
            <td>{{product.price}}</td>
            <td>{{product.imageUrl}}</td>
            <td>
              <button @click='onUpdateClick(product)' class="waves-effect btn-small blue darken-1"><i class="material-icons">create</i></button>
              <button @click='onDeleteClick(product)' class="waves-effect btn-small red darken-1"><i class="material-icons">delete_sweep</i></button>
            </td>

          </tr>

        </tbody>
      
      </table>

    </div>

  </div>
</template>

<script>

  import ProductApi from './service/productservice'

  export default {
    data(){
      return {
        product:{
          id: '',
          description: '',
          stock: '',
          price: '',
          imageUrl: ''
        },
        
        products: []
      }
    },

    mounted(){
      this.fetch()
    },

    methods:{

      fetch(){
        ProductApi.fetch().then(response => {
          this.products = response.data
        })
      },

      onSaveClick(){
        if(!this.product.id){
          ProductApi.save(this.product).then(response => {
            alert("Saved successfully! - status: "+response.status)
            this.product = {}
            this.fetch()
          }).catch(e =>{
            alert("Failed to save this product!" + e.response)
          })
        }else{
          ProductApi.update(this.product).then(response => {
            alert("Updated successfully!- status: "+response.status)
            this.product = {}
            this.fetch()
          }).catch(e =>{
            alert("Failed to save this product!" + e.response)
          })
        }
      }, 

      onUpdateClick (product){
        this.product = product
      },

      onDeleteClick(product){
        if(confirm('Want to delete this product?')){
          ProductApi.delete(product).then(response => {
            alert("Deleted successfully! - Status:" + response.status)
            this.fetch()
          })
        } 
      }
    }
  }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
</style>
